.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.mainHeading{
font-family: Inter;
font-size: 50px;
font-style: normal;
font-weight: 800;
letter-spacing: 0em;
text-align: left;
width: 51rem;
margin: 5rem auto 0rem auto;

}

.main{
  padding-top: 4.5rem;
  max-width: 1000px;
  margin: 0 auto;
}
a{
  color:#3273dc;
}

.icons{
  color: red;
}

.logo_img{
  width: 10rem;
}
.App-header {
  /* max-width: 1100px; */
  font-size: 1rem;
  padding: 2rem 4rem 0.5rem 4rem;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}


.main-card {
	width: 45rem;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);	
	border-radius: 16px;
	background-color: rgba(43,51,65, .2);
	backdrop-filter: blur(5px);
  padding: 2rem 3rem;
  margin: 0 auto;
  border: 1px solid #485267;
}

.headerRight{
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);	
	border-radius: 16px;
	background-color: rgba(255, 255, 255, .1);
	backdrop-filter: blur(5px);
  padding: 10px 15px;
}


.data-card{
  width: 45rem;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);	
  padding: 2rem 3rem;
  margin: 2.5rem auto;
  border: 1px solid #485267;
  background: rgba(72,82,103, 0.3);
  mix-blend-mode: normal;
  backdrop-filter: blur(40px);
  border-radius: 16px;
}

.description{
  line-height: 26px;
  letter-spacing: 0.2px;
  font-weight: 300;
  font-size: 16px;
  opacity: 0.7;
}


.headLink{
  margin: 0 1rem 0 0.5rem;
}

hr{
  background-color:whitesmoke;
  border:none;
  display:block;
  height: 2px;
  /* margin: 1.5rem 0; */
}


.App-link {
  color: #61dafb;
}


.mainTitle{
  padding: 0 0 2rem 0;
  font-size: 26px;
  font-weight: 700;
  color: #fff;
}

.my-15{
  margin: 15px 0;
}

.css-u36398{
  font-size: 14px !important;
}
.css-8ewcdo-MuiInputBase-root-MuiOutlinedInput-root {
  font-size: 14px !important;
}

.css-15kq27i{
  color: #FFDFBD !important;

}

.css-1x5jdmq {
  color: #FFDFBD !important;
}

.css-1bigob2{
  color: #FFF !important;
  font-weight: 600 !important;
  font-size: 18px !important;
}

.css-q34dxg{
  color: #FFDFBD !important;
}

.cover{
  position: absolute;
  left: 0 !important;
  right: 0 !important;
  top: 0 !important;
  bottom: 0 !important;
  background-attachment: fixed;
  /* height: fit-content; */
}

.image-cover img{
  background: no-repeat center fixed;
  width: 100vw;
  height:300vh;
  overflow-x: hidden;
  object-fit: fill ;
  position: fixed;
  
}

.overlay{
  position: relative;
  background: linear-gradient(44deg, transparent, rgba(0,0,255,0) 70.71%);
  top: 0;
  left: 0 !important;
  bottom: 0 !important;
}
picture{
  height: auto;
}